body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

.interval_container, .timeout_container {
   margin: 0 30px;
    text-align: center;
}